@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,200;10..100,300;10..100,400;10..100,500;10..100,600&display=swap');


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

html{
  background: #efefef;
  scroll-behavior: smooth;
}

#container {
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 1em;
}

h1, h2 {
  text-align: left;
  font-family: 'Imbue', serif;
  color: #000000;
  font-weight: 200;
  font-size: 1.5em;
  line-height: 0.8;
}

h1 {
  font-weight: 500;
  text-transform: uppercase;


  font-size: calc(min(27vw, 10rem));


  letter-spacing: 0.03em;
  transition: letter-spacing 0.5s ease-in-out;
}


#second-name {
  letter-spacing: 0.04em;
}

#filler-karl {
  opacity: 0.2;
  letter-spacing: 0.02em;
  display: inline-block;
  /* mirror the first name */
  transform: scaleX(-1);
}

h2 {
  font-weight: 300;
  font-size: calc(min(15vw, 5rem));
  letter-spacing: 0.02em;
  white-space: nowrap;

  text-decoration: underline;
  text-decoration-color: #00000030;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;

  text-transform: lowercase;


  transform: scaleY(1);
}

.block-container {
  display: table;
  margin-top: 1em;
  margin-bottom: 4em;
}

.left {
  /* display: table-cell; */
  vertical-align: top;
  padding-right: 1em;
  border-right: 1px solid #00000030;
}

.right {
  /* display: table-cell; */
  vertical-align: top;
  
}

#test-div {
  margin: 300px;
  width: 200px;
  height: 200px;
  /* blurry shadow */
  /* box-shadow syntax: h-shadow v-shadow blur spread color inset */
  box-shadow: -15px -15px 45px 0px #FFFFFFff,
  16px 16px 50px 0px #0d275028,
  inset -15px -15px 45px 0px #FFFFFFff,
  inset 16px 16px 45px 0px #0d275028;
  border-radius: 600px;
}

